/* @import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2563eb;
  --secondary-color: #4f46e5;
  --text-color: #1f2937;
}
body, * {
  /* font-family: "Alexandria", serif; */
font-family: "IBM Plex Sans Arabic", sans-serif;
  scroll-behavior: smooth;
}
::selection{
  background: var(--primary-color);
  color: white;
}


::-webkit-scrollbar {
    width: 10px;
    background: var(--primary-color);

}


::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 15px;
}
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard syntax */
}

img {
  pointer-events: none; /* يمنع سحب الصور */
}
.animate-slide-up {
  animation: slideUp 0.6s ease-out;
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gradient-text {
  background: linear-gradient(to right, #2563eb, #1d4ed8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


.nav-link {
  position: relative;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  --tw-text-opacity: 1;
  position: absolute;
  width: 0;
  height: 5px;
  bottom: -3px; /* المسافة بين النص والخط */
  left: 0; /* يبدأ من اليمين (مع RTL) */
  background-color: var(--primary-color); /* استبدل بلون teeverse أو لون آخر */
  transition: width 0.3s ease-in-out; /* أنيميشن سلس للعرض */
  border-radius: 1rem; /* حواف مستديرة للخط */
}

.nav-link:hover::after {
  width: 100%; /* يمتد الخط ليغطي كامل عرض النص */
  right: 0; /* ينتهي عند اليسار */
  left: auto; /* إلغاء right لضمان الاتجاه الصحيح */
}

